#####################################################################
#    Z Calibration
#####################################################################

# comments are original auto_z_calibration comments from the original author.
## comments are my own comments.

[z_calibration]
#   The X and Y coordinates (in mm) for clicking the nozzle on the
#   Z endstop.  
## This is to be the same as your safe Z home position in your
##   standard printer.cfg. 
probe_nozzle_x: 122
probe_nozzle_y: 355

#   The X and Y coordinates (in mm) for clicking the probe's switch
#   on the Z endstop.  
## X+7, Y-22.5 (relative to your probe_nozzle coordinates) seems to be
## a good number to use.  
probe_switch_x: 122
probe_switch_y: 333

#   The trigger point offset of the used switch.
#   This needs to be fined out manually. For more details go to 
#   https://github.com/protoloft/klipper_z_calibration#switch-offset
#   "So, with a smaller offset value, the nozzle is more away from the 
#   bed! The value cannot be negative."
switch_offset: 0.5

#   The maximum allowed deviation of the calculated offset.
#   If the offset exceeds this value, it will stop!
#   The default is 1.0 mm.
max_deviation: 4

#   The distance in mm to move up before moving to the next
#   position. The default is two times the z_offset from the probe's
#   configuration.
clearance: 7.5

#   The moving speed in X and Y. The default is 50 mm/s.
speed: 200

#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.
probing_first_fast: true

#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.
start_gcode: SET_GCODE_OFFSET Z=0

#   A list of G-Code commands to execute prior to each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   attach the probe.
before_switch_gcode: M401

#   A list of G-Code commands to execute prior to each probing on the
#   mag-probe. See docs/Command_Templates.md for G-Code format. This can be
#   used to attach the probe after probing on the nozzle and before probing
#   on the mag-probe.
end_gcode: M402

#   A list of G-Code commands to execute after each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   detach the probe afterwards.

[gcode_macro CALIBRATE_Z]
description: Add G90 to CALIBRATE_Z macro to avoid conflict with nozzle scrub macro
rename_existing: _CALIBRATE_Z
gcode:
  G90
  _CALIBRATE_Z

