[include auto_z.cfg]

###################################################################################################
## HOMING OVERRIDE
###################################################################################################
[force_move]
enable_force_move: True

[homing_override]   ## forces Z to raise despite not having been homed, to prevent a nozzle crash if the gantry is physically lower than something that it can hit
gcode:
   SET_KINEMATIC_POSITION Z=0
   QUERY_PROBE
   G0 Z25 F3600           ; raise bed to 15
   G28 X Y                ; home X & Y
   M402
   G0 X230 Y357
   G28 Z                  ; home Z
   G0 Z15 F3600           ; raise bed to 15

###################################################################################################
## ERROR HANDLING
###################################################################################################

[gcode_macro do_error_if_probe_deployed]
gcode:
    {% if not printer.probe.last_query %}
      {action_raise_error("probe already deployed - remove and return to dock")}
    {% endif %}

[gcode_macro error_if_probe_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    do_error_if_probe_deployed

[gcode_macro do_error_if_probe_not_deployed]
gcode:
    {% if printer.probe.last_query %}
      {action_raise_error("probe unsuccessfully deployed")}
    {% endif %}

[gcode_macro error_if_probe_not_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    do_error_if_probe_not_deployed

###################################################################################################
## POSITIONING
###################################################################################################

[gcode_macro move_to_dock]
gcode:
  G90
  G0 X40 Y354.5 F6000
  M400

[gcode_macro move_outside_dock]
gcode:
  G90
  G0 X100 Y354.5 F6000
  M400

###################################################################################################
## DEPLOY/STOW PROBE
###################################################################################################

# Macro to Deploy Bed Probe
[gcode_macro M401]
gcode:
    G90
    {% if printer.probe.last_query %}
      move_to_dock
      Move_outside_dock
      error_if_probe_not_deployed
    {% endif %}

# Macro to Stow Bed Leveling Probe
[gcode_macro M402]
gcode:
    G90
    {% if not printer.probe.last_query %}
     move_outside_dock           ; move toolhead to dock exit (DOCKEXIT)
     move_to_dock
     M400
     G0 Y340 F6000
     G0 X150
     error_if_probe_deployed
    {% endif %}

###################################################################################################
## REPLACEMENT MACROS
###################################################################################################

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
  QUERY_PROBE
  M401
  _BED_MESH_CALIBRATE
  M402

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
  QUERY_PROBE
  M401
  _QUAD_GANTRY_LEVEL
  M402
