[include auto_z.cfg]

###################################################################################################
##
##
##
##
## Be sure to go through this entire .cfg as well as auto_z.cfg to ensure all values are correct 
## for YOUR printer.
##
##
##
###################################################################################################



###################################################################################################
## HOMING OVERRIDE
###################################################################################################

## This is necessary to allow SET_KINEMATIC_POSITION use in homing_override.
[force_move]
enable_force_move: True

[homing_override]
gcode:
   SET_KINEMATIC_POSITION Z=0                         ## Tells the printer that it's at Z0, no matter where it actually is.
   QUERY_PROBE                                        ## Checks and sends in the console whether the probe is deployed or stowed.  TRIGGERED = stowed, open = deployed.
   G0 Z25 F3600                                       ## Raises Z by 15mm, to ensure there's no nozzle crash if the gantry is too low.
   G28 X Y                                            ## Home X and Y first
   M402                                               ## Check if probe is deployed.  If it is, stow it to ensure safe Z homing.      
   G0 X230 Y357                                       ## This is the position at which your toolhead should be in order to home Z.  Use values from safe_z_home in printer.cfg.
   G28 Z                                              ## Now that X and Y are in the right spot, home Z.     
   G0 Z15 F3600                                       ## After homing is complete, raise Z back up to 15mm and park.

###################################################################################################
## ERROR HANDLING
###################################################################################################

## You probably don't need to mess with any of this section.

[gcode_macro do_error_if_probe_deployed]
gcode:
    {% if not printer.probe.last_query %}
      {action_raise_error("probe already deployed - remove and return to dock")}
    {% endif %}

[gcode_macro error_if_probe_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    do_error_if_probe_deployed

[gcode_macro do_error_if_probe_not_deployed]
gcode:
    {% if printer.probe.last_query %}
      {action_raise_error("probe unsuccessfully deployed")}
    {% endif %}

[gcode_macro error_if_probe_not_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    do_error_if_probe_not_deployed

###################################################################################################
## POSITIONING
###################################################################################################

## This is important.  This is where you'll tell it where your dock actually is.  To find your values, use the arrows in the webUI to move the toolhead to the 
## correct position to be, then use M114 command to get the kinematic position. 

[gcode_macro move_to_dock]
gcode:
  G90
  G0 X40 Y354.5 F6000                           ## Enter your X and Y values for your dock location. 
  M400

[gcode_macro move_outside_dock]
gcode:
  G90
  G0 X100 Y354.5 F6000                          ## Should be the same as [move_to_dock] except 60mm further to the right on the X axis.
  M400

###################################################################################################
## DEPLOY/STOW PROBE
###################################################################################################

# Macro to Deploy Bed Probe
[gcode_macro M401]
gcode:
    G90
    {% if printer.probe.last_query %}
      move_to_dock
      Move_outside_dock
      error_if_probe_not_deployed
    {% endif %}

# Macro to Stow Probe
[gcode_macro M402]
gcode:
    G90
    {% if not printer.probe.last_query %}
     move_outside_dock                          
     move_to_dock
     M400                                         
     G0 Y340 F6000                                ## Change the Y coordinate here to be around 15mm less than your dock Y coordinate.  
     G0 X150                                      ## When stowing the probe, since this is a gantry-mounted dock, the default config of raising Z to dock
     error_if_probe_deployed                      ## will not work.  Instead, we move Y in by around 15mm to ensure the magnets aren't attracting anymore. 
    {% endif %}                                   ## Then, it moves to the right by another 50mm to ensure that if it homes it will not just pick the probe back up.

###################################################################################################
## REPLACEMENT MACROS
###################################################################################################

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
  QUERY_PROBE
  M401
  _BED_MESH_CALIBRATE
  M402

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
  QUERY_PROBE
  M401
  _QUAD_GANTRY_LEVEL
  M402
